@model Envest.Model.Komponent

@{
    ViewBag.Title = "Komponent Sil";
}

<h3>Bu Komponenti Silmek İstediğine Emin Misin?</h3>
<div>   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Bileşen Adı")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BilesenAdi)
        </dd>
        <dt>
            @Html.DisplayName("Stok")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stok)
        </dd>
        <dt>
            @Html.DisplayName("Fiyat")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt>
            @Html.DisplayName("Para Birimi")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birim)
        </dd>
        <dt>
            @Html.DisplayName("Oluşturulma Tarihi")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Geri", "Index",null,new { @class="btn btn-default"})
        </div>
    }
</div>
